/*==================== HOME PROJECTS ====================*/
.projects {
    .section__header {
        column-gap: 20px;
    }
}
.projects__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 30px;
}
.project__link {
    height: 370px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.project__label {
    color: var(--white-color);
    background-color: var(--label-azure-color);
    font-weight: var(--font-medium);
    font-size: 16px;
    display: inline-block;
    padding: 12px 25px;
}
.project__info {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    color: var(--black-color);
    background-color: var(--label-white-color);
    padding: 20px;
    min-height: 140px;
    width: 80%;
    transform: translateY(100%);
}
.project__title {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}
.project__link:hover .project__info {
    transform: translateY(0);
}
.projects__anonce {
    grid-template-columns: 1fr 1fr;
}
.projects__anonce-text {
    font-size: var(--text-style-2-font-size);
}
.projects__anonce-buttons {
    text-align: right;
}
