/*==================== HOME PRODUCTS ====================*/
.products__container {
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
}
.product__content {
    position: relative;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 3.29078px 12.3404px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden;
    transition: border 0.3s ease;
    .product__img,
    .product_card__pic img {
        transition: transform 0.3s ease;
    }
    &:hover {
        border: 1px solid #dedede;
        .product__img,
        .product_card__pic img {
            transform: scale(1.2);
        }
    }
}
.product__title,
.product__img {
    display: block;
}
.product__title {
    font-family: var(--header-font);
    font-weight: var(--font-medium);
    font-size: var(--text-style-4-font-size);
    margin-bottom: 35px;
}
.product__img {
    width: 250px;
    height: 210px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: transform 0.3s ease;
}
.product__label {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 0px;
    border-bottom: 90px solid var(--label-orange-color);
    border-right: 100px solid transparent;
}
.product__label-content {
    position: absolute;
    color: var(--white-color);
    font-weight: var(--font-bold);
    font-size: 12px;
    display: block;
    left: 16px;
    bottom: -75px;
}
