/*==================== HOME BRANDS ====================*/
.brands {
    .button {
        min-width: 182px;
    }
    &__container {
        margin-bottom: 30px;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
        @media screen and (max-width: 1270px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media screen and (max-width: 786px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.brand {
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: auto;
        height: 110px;
        border: 1px var(--black-color) solid;
        overflow: hidden;
        transition: filter 0.3s ease;
        background-color: #fff;
        &:hover {
            filter: invert(1);
        }
    }
}
