/*==================== COMPANY PAGE ====================*/
.company__content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    row-gap: 50px;
    font-size: 18px;
}
.company__content p + p {
    margin-top: 20px;
}
.company--banner {
    position: static;
}
.company-body {
    .mt-25 {
        margin-top: 25px;
    }
    .section__content {
        margin-top: 25px;
    }
}
