/*==================== 404 PAGE ====================*/
.body__404 {
    background-color: rgb(24, 24, 26);
    color: var(--white-color);
}
.section__404 {
    height: calc(100vh - var(--mb-after-blocks));
    background: url("../images/404/bg.jpg") center center no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.section__404-title {
    font-family: var(--header-font);
    font-size: 100px;
    font-weight: var(--font-bold);
    margin-bottom: 20px;
}
.section_404-buttons {
    text-align: center;
}
