/*==================== 404 PAGE ====================*/
.body__404 {
    position: relative;
    background-color: rgb(24, 24, 26);
    color: var(--white-color);
    // background: url("../images/404/bg.jpeg") center center no-repeat;
    // background-size: contain;
    background-image: url(../images/404/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    // @media screen and (max-width: 1024px) {
    //     // background-image: url(../images/404/bg.jpeg);
    //     // background-repeat: no-repeat;
    //     // background-size: cover;
    // }
    .body__404--background-color{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .main.page__404{
        margin-top: 198px;
        @media screen and (max-width: 1024px) {
            margin-top: 176px;
        }
    }
    .section__404 {
        // height: calc(100vh - var(--mb-after-blocks));
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .section__404-title {
        font-family: var(--header-font);
        font-size: 90px;
        font-weight: var(--font-bold);
        margin-bottom: 20px;
        text-align: center;

        @media screen and (max-width: 1024px) {
            font-size: 60px;
        }
        @media screen and (max-width: 768px) {
            
            font-size: 40px;
        }
        @media screen and (max-width: 480px) {
            
            font-size: var(--h4-font-size);
        }


    }

    .section_404-buttons {
        text-align: center;
        .button--transparent{
            @media screen and (max-width: 768px) {
                font-size: 20px;
                padding: 14.5px 31.5px;
                max-width: 176px;
                width: 100%;
            }
        }
    }

}
