/*==================== PROJECTS-ALL-PAGE ====================*/
.projects__consultation {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}
.projects__consultation > div {
    width: 100%;
}
