/*==================== SERVICES-PAGE DIRECTIONS ====================*/
.directions__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.direction__data {
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    order: 0;
    transition: all .5s ease;
}

.direction__data:hover .direction__categories {
    transform: translateY(0);
    @media screen and (max-width: 768px) {
        transition: all .5s ease;
        bottom: 0;
    }
    
}

.direction__data.projects__consultation--form {
    order: 6;
}

.direction__data:hover{

    @media screen and (max-width: 768px) {
        position: relative;
        padding-bottom: 250px;
        overflow: visible;
        .direction__categories{
            display: block;

        }
    }
}

.direction__title {
    font-size: var(--h4-font-size);
    margin-bottom: 14px;
}
.direction__img {
    height: 345px;
    display: block;
    background: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 768px) {
        overflow: visible;
        width: 100%;
        // height: 100%;
        height: 145px;
        // width: 249px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .img-desktop{
        width: 100%;
        @media screen and (max-width: 768px) {
            height: 145px;
            width: 249px;
        }
    }
}
.direction__categories {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--label-white-color);
    padding: 25px 0;
    transform: translateY(100%);
    // transition: 0.3s;
    transition: all .5s ease;
    z-index: 99999;
    @media screen and (max-width: 768px) {
        transform: translateY(0);
        display: none;
        position: relative;
    }
}
.direction__sections {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 15px;
}
.direction__link {
    font-family: var(--header-font);
    font-size: var(--text-style-14-font-size);
}

