.application {}

.inner-form {
    position: relative;

    .btn__close {
        position: absolute;
        z-index: 9999999;
    }
}

input[type=checkbox] {
    display: none;
}

.overlay,
.bitrix__form {
    .b24-form {
        max-width: 600px;
        width: 100%;

        &-wrapper {
            padding: 42px 134px;


            @media screen and (max-width: 600px) {
                padding: 0 10px;
            }
        }

        &-header {
            border: none;
            padding: 0;

            &-title {
                text-align: left;
                font: 28px/34px var(--header-font);
                margin-bottom: 20px;

                @media screen and (max-width: 768px) {
                    font: 20px/28px var(--header-font);
                    font-weight: var(--font-bold);
                }

            }
        }

        &-content {
            padding: 0;
        }

        &-control-container {
            margin: 0;
        }

        &-field {
            margin-bottom: 0;

            &-layout-section {
                margin: 0;
            }
        }

        &-control-label {
            display: none;

        }

        &-field-layout-section {
            // font-family: var(--header-font);
            // font-size: 14px;
            // font-weight: var(--font-medium);
            color: var(--semi-dark-grey-color);
            margin-bottom: 10px;
            font: 14px/16px var(--header-font);
        }

        input[name=name],
        input[name=phone] {
            padding: 0 20px;
            background: #EAEAEA;
            border-radius: 0;
            min-height: 42px;
            font: 14px/16px var(--header-font);
        }

        input[name=name] {
            margin-bottom: 20px
        }

        input[name=phone] {
            margin-bottom: 5px;

            @media screen and (max-width: 600px) {
                margin-bottom: 15px;
            }
        }

        input[type=checkbox] {
            display: none;
        }

        &-control-container {
            font: 12px/15px var(--header-font) !important;
        }

        &-control-desc {
            font: 12px/15px var(--header-font) !important;
            color: #6D6D6D;
            opacity: 1 !important;



        }

        &-field-agreement-link {
            font: 12px/15px var(--header-font) !important;
            color: #6D6D6D;
            margin-bottom: 30px;
            opacity: 1 !important;



        }

        button[type=submit] {
            font: 16px/22px var(--body-font) !important;
            margin-top: 30px;
            max-width: 180px;
            width: 100%;

            @media screen and (max-width: 768px) {
                font: 20px/27px var(--body-font) !important;
            }
        }


    }
}

.bitrix__form {
    padding: 0 !important;

    .b24-form {
        max-width: 600px;
        width: 100%;

        &-wrapper {
            padding: 0;

            @media screen and (max-width: 600px) {
                padding: 0 10px;
            }
        }

        button[type=submit] {
            font: 16px/22px var(--body-font) !important;
            margin-top: 30px;
            max-width: 180px;
            width: 100%;

            @media screen and (max-width: 768px) {
                font: 16px/18px var(--body-font) !important;
            }
        }
    }
}



.news__form {
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;

    .subscribe__form-header{
        width: 100%;
    }

    .subscribe__form-subtitle{
        @media screen and (max-width: 768px) {

            max-width: none!important;
        }
    }

    .b24-form-content.b24-form-padding-side {
        padding: 0;
    }

    button[type=submit] {
        font: 22px/30px var(--body-font) !important;
        max-width: 180px;
        width: 100%;
        border-radius: 0;
        padding: 0;
        height: 55px;


        @media screen and (max-width: 880px) {
            max-width: none;
            font: 20px/27px var(--body-font) !important;
            height: 45px;
        }
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 5px;
        justify-content: end;
        position: relative;

        @media screen and (max-width: 880px) {

            row-gap: 15px;
        }

        &>div {
            &:first-child {
                grid-area: 1/1/2/2;


            }

            &:nth-child(2) {
                grid-area: 2/1/3/2;
                @media screen and (max-width: 880px) {

                    grid-area: 3/1/4/2;
                }
            }

            .b24-form-btn-block {
                padding: 0;
                grid-area: 3/1/4/2;
                @media screen and (max-width: 880px) {

                    grid-area: 2/1/3/2;
                }

                
            }
        }
    }

}



.lightning_news__subscribe {
    display: flex;

    @media screen and (max-width: 880px) {
        flex-direction: column;
        align-items: center;
    }


    .subscribe__form-title {
        @media screen and (max-width: 880px) {
            font-size: 25px;
            line-height: 28px;
        }
    }



    .subscribe__form-header {
        width: 100%;

        @media screen and (max-width: 880px) {
            margin-bottom: 23px;
        }
    }

    .b24-form {
        max-width: 600px;
        width: 100%;

        @media screen and (max-width: 880px) {
            max-width: none;
        }

        &-wrapper {
            min-height: 60px;



            @media screen and (max-width: 600px) {
                padding: 0;
            }
        }

        .b24-form-field.b24-form-field-agreement.b24-form-control-agreement {
            // position: absolute;
            width: 100%;
            // left: 0;
            // top: 60px;
            // display: none
        }

        .b24-form-control-container.b24-form-control-icon-after,
        .b24-form-field.b24-form-field-email.b24-form-control-string {
            margin-bottom: 0;
        }

        .b24-form-content.b24-form-padding-side {
            padding: 0;
        }

        .b24-form-header-padding {
            padding: 0;
        }

        form {
            display: grid;
            grid-template-columns: 280px 150px;
            column-gap: 10px;
            row-gap: 5px;
            justify-content: end;
            position: relative;

            @media screen and (max-width: 880px) {
                grid-template-columns: 1fr;
                row-gap: 15px;
            }

            &>div {
                &:first-child {
                    grid-area: 1/1/2/2;

                    @media screen and (max-width: 880px) {}
                }

                &:nth-child(2) {
                    grid-area: 2/1/3/3;

                    @media screen and (max-width: 880px) {
                        grid-area: 3/1/4/2;
                    }
                }

                .b24-form-btn-block {
                    grid-area: 1/2/2/3;
                    padding: 0;

                    @media screen and (max-width: 880px) {
                        grid-area: 2/1/3/2;
                    }
                }
            }
        }
    }

    .b24-form-btn-container {
        margin: 0;
    }

    input[type=email] {
        min-height: 40px;
    }

    button[type=submit] {
        font: 16px/22px var(--body-font) !important;
        max-width: 180px;
        width: 100%;
        border-radius: 0;
        padding: 0;
        height: 40px;


        @media screen and (max-width: 880px) {
            max-width: none;
            font: 20px/27px var(--body-font) !important;
            height: 45px;
        }
    }
}

.b24-form-btn-container {
    margin: 0!important;
}