/*==================== MODALS ====================*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-modal);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal--right-top {
    padding-top: var(--header-height);
    justify-content: flex-end;
    align-items: flex-start;
}

.modal__container--white {
    background-color: var(--white-color);
    color: var(--black-color);
}
.modal__container--black {
    background-color: #000;
    color: var(--white-color);
}

.modal__container--items {
    padding: 50px 100px 50px 50px;
}

.modal__header {
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 5px;
}
.modal__header-title {
    font-size: var(--h3-font-size);
}

.modal__header-close {
    font-size: 20px;
    cursor: pointer;
}
.modal__item {
    margin-bottom: 5px;
    column-gap: 10px;
    align-items: center;
}
.modal__item,
.modal__footer {
    border-top: 1px solid var(--grey-color);
    padding-top: 5px;
}
.modal__item-image-link {
    width: 120px;
    height: 120px;
    display: block;
    background: no-repeat;
    background-position: center center;
    background-size: contain;
}
.modal__item-info {
    justify-self: stretch;
    padding-right: 32px;
}
.modal__item-title {
    font-size: var(--h4-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 5px;
}
.modal__item-price--current {
    font-family: var(--header-font);
    font-weight: var(--font-bold);
    margin-right: 5px;
}
.modal__item-price--old {
    font-size: 10px;
    color: var(--grey-color);
    text-decoration: line-through;
}
.modal__item-attributes {
    margin-top: 5px;
    font-family: var(--header-font);
    font-size: 10px;
    font-weight: var(--font-medium);
}
.modal__footer {
    padding-top: 10px;
    justify-content: space-between;
}
.modal__clear-button {
    font-family: var(--header-font);
    font-size: var(--text-style-3-font-size);
    cursor: pointer;
}

.modal__compare-link {
    font-weight: var(--font-medium);
    font-family: var(--header-font);
    font-size: var(--h4-font-size);
}

.modal_fast_order__total {
    font-weight: var(--font-medium);
    font-size: var(--h4-font-size);
    font-family: var(--header-font);
    padding-left: 70px;
}

.modal__success_container {
    grid-template-columns: repeat(3, max-content);
    align-items: flex-start;
}
.modal__success-info {
    padding: 72px 145px 72px 0px;
}
.modal__success-title {
    font-size: var(--text-style-6-font-size);
    margin-bottom: 5px;
}
.modal__success-subtitle {
    max-width: 240px;
    color: var(--grey-color);
}
.modal__success-links {
    margin-top: 25px;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.modal__success-link {
    color: var(--grey-color);
    font-family: var(--header-font);
    font-size: 12px;
}

.modal__success-close {
    color: var(--semi-dark-grey-color);
    justify-self: flex-end;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 24px;
}

.modal__consultation_container {
    padding: 41px 133px;
    position: relative;
}
.modal__consultation_container .modal__header-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Active Modal */
.active-modal {
    visibility: visible;
    opacity: 1;
}
