/*==================== MODALS ====================*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    // transition: 0.3s;
    opacity: 0;
    // visibility: hidden;
    display: none;
    overflow-x: hidden;
    // overflow-y: scroll;
    
}

// .img-slider,.img-slider-window{
//     display: block!important;
//     opacity: 1!important;
//     visibility: visible!important;
// }

.img-slider{
    .imagesSwiper{

        width: 100vw;
        .swiper-slide{
            display: flex;
            justify-content: center;
            // max-width: 850px;
            width: 100%!important;
        }
    }
}

.window{
    position: relative;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    z-index: 10;
}

.active-window{
    visibility: visible;
    opacity: 1;
}

.overlay{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.modal--right-top {
    padding-top: var(--header-height);
    justify-content: flex-end;
    align-items: flex-start;
}

.modal__container--white {
    background-color: var(--white-color);
    color: var(--black-color);
}
.modal__container--black {
    background-color: #000;
    color: var(--white-color);
}

.modal__container--items {
    padding: 50px 100px 50px 50px;
}

.modal__header {
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 5px;
}
.modal__header-title {
    font-size: var(--h3-font-size);
}

.modal__header-close {
    font-size: 20px;
    cursor: pointer;
}
.modal__item {
    margin-bottom: 5px;
    column-gap: 10px;
    align-items: center;
}
.modal__item,
.modal__footer {
    border-top: 1px solid var(--grey-color);
    padding-top: 5px;
}
.modal__item-image-link {
    width: 120px;
    height: 120px;
    display: block;
    background: no-repeat;
    background-position: center center;
    background-size: contain;
}
.modal__item-info {
    justify-self: stretch;
    // padding-right: 32px;
}
.modal__item-title {
    font-size: var(--h4-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 5px;
}
.modal__item-price--current {
    font-family: var(--header-font);
    font-weight: var(--font-bold);
    margin-right: 5px;
}
.modal__item-price--old {
    font-size: 10px;
    color: var(--grey-color);
    text-decoration: line-through;
}
.modal__item-attributes {
    margin-top: 5px;
    font-family: var(--header-font);
    font-size: 10px;
    font-weight: var(--font-medium);
}
.modal__footer {
    padding-top: 10px;
    justify-content: space-between;
}
.modal__clear-button {
    font-family: var(--header-font);
    font-size: var(--text-style-14-font-size);
    cursor: pointer;
}

.modal__compare-link {
    font-weight: var(--font-medium);
    font-family: var(--header-font);
    font-size: var(--h4-font-size);
}

.modal_fast_order__total {
    font-weight: var(--font-medium);
    font-size: var(--h4-font-size);
    font-family: var(--header-font);
    padding-left: 70px;
}

.modal__success_container {
    grid-template-columns: repeat(3, max-content);
    align-items: flex-start;
}
.modal__success-info {
    padding: 72px 145px 72px 0px;
}
.modal__success-title {
    font-size: var(--text-style-48-font-size);
    margin-bottom: 5px;
}
.modal__success-subtitle {
    max-width: 240px;
    color: var(--grey-color);
}
.modal__success-links {
    margin-top: 25px;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.modal__success-link {
    color: var(--grey-color);
    font-family: var(--header-font);
    font-size: 12px;
}

.modal__success-close {
    color: var(--semi-dark-grey-color);
    justify-self: flex-end;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 24px;
}

.modal__consultation_container {
    padding: 41px 133px;
    position: relative;
}
.modal__consultation_container .modal__header-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Active Modal */
.active-modal {
    display: flex!important;
    opacity: 1!important;
    transition: all 0.3s ease!important;
}



.gratitude {
    
    &__content {
        background: #000000;
        background-image: url(../images/popups/lamp.svg);
        background-repeat: no-repeat;
        height: 300px;
        max-width: 570px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media screen and (max-width: 580px) {
            height: 488px;
        }

        .btn__close{
            transition: all .5s ease;
            position: absolute;
            right: 20px;
            top: 20px;
            height: 16px;
            width: 16px;
            background-color: transparent;
            // background-image: url(../images/popups/close_btn.png);
            background-image: none;
            @media screen and (max-width: 580px) {
                right: 13px;
            }

            &:hover{
                .btn__close-icon{
                    stroke: #FFFFFF;
                }
            }

            
            .btn__close-icon{
                transition: all .5s ease;
            }
        }
    }

    .wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    

    &__title{
        font-family: var(--header-font);
        font-weight: var(--font-bold);
        font-size: var(--text-style-48-font-size);
        line-height: 58.51px;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    &__text{
        font-family: var(--header-font);
        font-size: var(--text-style-14-font-size);
        line-height: 17px;
        color: #B4B4B4;
        max-width: 220px;
        width: 100%;
    }
    .social__links{
        width: 216px;
        column-gap: 20px
    }
}


.application{

    @media screen and (max-width: 640px) {
        padding: 0 10px;
    }
    
    &__content{
        position: relative;
        max-width: 600px;
        width: 100%;
        height: 400px;
        background-color: #FFFFFF;
        justify-content: center;
        align-items: center;
        
    }

    &__container{
        padding: 0 134px;
        @media screen and (max-width: 768px) {
            padding: 0 24px 0 20px;
        }
    }

    &__title{
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 28px;
            font-weight: var(--font-bold);
        }
    }

    .button.button--red{
        width: 176px;
        @media screen and (max-width: 550px) {
            font-size: 16px;
            line-height: 18px;
        }
    }
}


.favourites,.comparison,.fast-order{
    
    align-items: flex-start;
    justify-content: flex-end;
    &__content{
        margin-top: 120px;
        background: #FFFFFF;
        max-width: 700px;
        width: 100%;
        padding: 50px 0;

        @media screen and (max-width: 1100px) {
            margin-top: 72px;
            padding: 20px 0;
        }
    }

}


.comparison,.fast-order{

    .modal__item{
        .btn__close{
            position: static;
            width: 10px;
            height: 10px;
            background-size: contain;
            @media screen and (max-width: 720px) {
                width: 12px;
                height: 12px;
            }
        }
    }

    .modal__item-box{
        @media screen and (max-width: 520px) {
            padding-right: 16px;
        }
    }

    &__btns{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        @media screen and (max-width: 720px) {
            padding: 0 10px;
            margin-top: 10px;
        }

        .modal__btn-compare{
            font-family: var(--header-font);
            font-size: var(--text-style-20-font-size);
            line-height: 24px;
            font-weight: 600;
            @media screen and (max-width: 720px) {
                font-size: var(--text-style-18-font-size);
                line-height: 22px;
            }
        }

        .modal__btn-clear{
            margin-top: 0 ;
            padding-right: 0;
        }
    }
    
}

.fast-order{
    .comparison__btns{
        margin-bottom: 60px;
        .modal__btn-compare{
            font-size: var(--text-style-20-font-size);
            padding-left: 66px;
            @media screen and (max-width: 720px) {
                padding-left: 29px;
            }
        }
    }
}

.modal{
    
    &__container{
        padding: 0 107px 0 50px;

        @media screen and (max-width: 720px) {
            padding: 0;
        }
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;

        @media screen and (max-width: 720px) {
            padding: 0 20px 0 9px;
            margin-bottom: 20px;
        }

        .btn__close{
            position: static;
        }
    }

    &__title{
        font-family: var(--header-font);
        font-size: 28px;
        line-height: 34px;
        font-weight: var(--font-medium);

        @media screen and (max-width: 768px) {
            font-size: var(--h3-font-size);
            font-weight: var(--font-bold);
        }

        // @media screen and (max-width: 720px) {
        //     padding-left: 9px;
        // }
    }

    &__list{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__item{

        &:last-child{
            border-bottom: 1px solid var(--grey-color);
            padding-bottom: 5px;
        }
    }

    &__item-box{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 720px) {
            padding: 0 20px 0 5px;
            justify-content: space-around;
        }
        @media screen and (max-width: 520px) {
            padding: 0 20px 0 5px;
            justify-content: space-between;
        }
    }

    &__img{
        width: 120px;
        height: 120px;
        margin-right: 10px;

        @media screen and (max-width: 720px) {
            width: 80px;
            height: 80px;
        }
    }
    .product{
        display: flex;
        flex-direction: column;

        &__title{
            font-size: var(--text-style-20-font-size);
            line-height: 24.38px;
            font-weight: var(--font-bold);
            margin-bottom: 5px;
            max-width: 345px;
            width: 100%;

            @media screen and (max-width: 720px) {
                font-size: 12px;
                line-height: 14px;
                max-width: 168px;
            }
        }

        &__price-row{
            display: flex;
            align-items: flex-end;
            margin-bottom: 5px;
        }

        &__price-discount{
            font-family: var(--header-font);
            font-size: var(--text-style-16-font-size);
            line-height: 19.5px;
            font-weight: var(--font-bold);
            margin-right: 5px;

            @media screen and (max-width: 720px) {
                font-size: 9px;
                line-height: 11px;
            }
        }

        &__price-full{
            font-size: 10px;
            line-height: 14px;
            color: #AFAFAF;
            position: relative;

            @media screen and (max-width: 720px) {
                font-size: 6px;
                line-height: 8px;
            }

            &::after{
                position: absolute;
                left: 0;
                bottom: 5px;
                content: '';
                height: 1px;
                width: 40px;
                background-color: #AFAFAF;
            }

        }

        &__manufacturer-info{
            display: flex;
            align-items: center;
        }
        
        &__manufacturer-country{
            margin-right: 5px;
        }
        &__manufacturer-country, &__manufacturer-name{
            font-family: var(--header-font);
            font-size: 10px;
            line-height: 12px;
            font-weight: var(--font-medium);

            @media screen and (max-width: 720px) {
                font-size: 6px;
                line-height: 7px;
            }
        }

        
    }

    &__btn-clear{
        font-family: var(--header-font);
        font-size: 14px;
        margin-top: 15px;
        line-height: 17px;
        @media screen and (max-width: 720px) {
            padding-right: 20px;
        }
    }

    .modal__btn-like{
        width: 20px;
        height: 20px;
        background-image: url(../images/popups/heart__icon.png);
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 720px) {
            height: 15px;
            width: 15px;
        }
    }

    .form{
        width: 100%;
        @media screen and (max-width: 720px) {
            padding: 0 10px;
        }

        &__title{
            font-family: var(--header-font);
            font-size: 28px;
            line-height: 34px;
            font-weight: var(--font-medium);
            margin-bottom: 30px;
    
            @media screen and (max-width: 768px) {
                font-size: var(--h3-font-size);
                font-weight: var(--font-bold);
                margin-bottom: 25px;
                padding-left: 20px;
            }
    
            
        }

        &__fields{

            @media screen and (max-width: 480px) {
                grid-template-columns: 1fr;
            }
            .form__group:nth-child(3){
                @media screen and (max-width: 480px) {
                    grid-column: 1/2;
                }
            }
            .form__group-input{
                resize: vertical;
            }
        }
        &__agreement{
            @media screen and (max-width: 768px) {
                max-width: none;
            }
        }
        .button.button--red{
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
}


.btn__close{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 16px;
    width: 16px;
    background-color: transparent;
    background-image: url(../images/popups/close_btn.png);
    @media screen and (max-width: 580px) {
        right: 13px;
    }
}

.application{

    .b24-form{
        max-width: 600px;
        width: 100%;
        height: 400px;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;

        &-sign{
            display: none;
        }

        &>div{
            width: 100%;
            padding: 0 134px;
            border: none;
        }
        &form{
            display: none;
        }

        &-wrapper{
            border: none!important;
            box-shadow: none!important;
        }
        &-content{
            padding: 0;
        }

        &-btn{
            background-color: var(--button-red-color);
            width: 176px;
            transition: all .3s ease;
            font-family: var(--body-font)!important;
            font-size: 16px;

            &:hover{
                background-color: transparent;
                color: #101010;
                border: 1px solid #101010;
            }
        }
    }
}