/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    margin-top: var(--mb-after-blocks);
}
.section.section--top-60 {
    margin-top: 60px;
}
.section__bg-dark {
    background-color: var(--bg-dark-color);
    padding: 1px 0 120px 0;
    color: var(--white-color);
}
.section__header {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    align-items: flex-start;
}
.section__header--brands-catalog {
    column-gap: 20px;
    margin-top: 25px;
    .section__picture {
        margin-top: 0;
    }
}
.section__content {
    margin-top: var(--mb-before-list-card);
}
.section__title {
    line-height: 1;
}
.section__title + .section__button {
    margin-top: 30px;
}

.section__button {
    font-size: 16px;
    line-height: 22px;
}

.section__manufacturer {
    margin-top: 30px;
}
.section__manufacturer_link {
    font-size: var(--text-style-1-font-size);
}
.section__picture {
    margin-top: 60px;
    height: 325px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section__banner {
    margin-top: 60px;
}
.section__description {
    font-size: var(--text-style-5-font-size);
    font-family: var(--body-font);
}
.section__description-bottom {
    margin-top: 60px;
    font-size: var(--text-style-3-font-size);
    width: 40%;
    font-family: var(--header-font);
}

.section__description-bottom.section__description-bottom--brands {
    font-size: 24px;
    font-family: var(--body-font);
    width: 55%;
}

.section__description p + p {
    margin-top: 24px;
}

.section_inner {
    margin-top: 120px;
}

.section_inner__title {
    font-size: var(--h3-font-size);
    margin-bottom: 30px;
}

.section__content-button {
    margin-top: 30px;
    text-align: right;
}
