/*==================== CARD-PRODUCT-PAGE ====================*/
.card_product__main {
    grid-template-columns: 0.8fr 1fr;
    column-gap: 60px;
    align-self: start;
}
.card_product__images {
    background-color: var(--white-color);
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.card_product__image-link {
    width: 99px;
    background-position: center center;
    background: no-repeat;
    background-size: cover;
    display: block;
    cursor: pointer;
}
.card_product__image-link--main {
    width: auto;
    height: auto;
    grid-column: 2 / 7;
    grid-row: 1 / 5;
    background-position: center center;
    background: no-repeat;
    background-size: cover;
    height: 400px;
}

.card_product__title {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 15px;
    line-height: 1.1;
}

.card_product {
    margin-top: 50px;
}

.card_product__actions {
    gap: 20px;
}
.card_product__action {
    align-items: center;
    cursor: pointer;
}
.card_product__action-icon {
    margin-right: 10px;
}
.card_product__action-title {
    font-family: var(--header-font);
    font-size: 12px;
}

.card_product__price {
    margin-top: 10px;
    align-items: flex-end;
    margin-bottom: 5px;
}
.card_product__price--current {
    font-size: 34px;
    font-weight: var(--font-bold);
    font-family: var(--header-font);
    line-height: 1;
}
.card_product__price--old {
    color: var(--grey-color);
    text-decoration: line-through;
    margin-left: 5px;
    font-size: var(--text-style-4-font-size);
}
.card_product__status--green {
    color: var(--green-color);
    font-weight: var(--font-medium);
}

.card_product__attributes {
    margin-top: 10px;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-gap: 10px;
}

.card_product__attribute {
    font-size: 12px;
    line-height: 12px;
}
.card_product__attribute-value {
    margin-left: 5px;
}

.card_product__brand_article {
    margin-top: 15px;
    align-items: center;
}
.card_product__brand {
    margin-right: 15px;
}
.card_product__article {
    font-family: var(--header-font);
    font-size: 12px;
}

.card_product__cart {
    margin-top: 20px;
    .button {
        min-width: 140px;
        min-height: auto;
        max-height: 40px;
        line-height: auto;
        padding: 8.5px 18px;
    }
}
.card_product__description {
    margin-top: 40px;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    max-width: 860px;
}
.card_product__documents {
    margin-top: 50px;
    column-gap: 95px;
}
.card_product__document-title {
    margin-bottom: 26px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.card_product__document-list {
    row-gap: 5px;
}
.card_product__document-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    margin-bottom: 5px;
}
.card_product__document-link img {
    margin-left: 10px;
    width: 18.92px;
    height: 19.74px;
}
.card_product {
    .section_inner {
        margin-top: 50px;
    }
}
