/*==================== MATCHING PAGE ====================*/
.matching__content {
    grid-template-columns: 1fr 4fr;
    position: relative;
}

.matching__header {
    height: 290px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1300px) {
        height: 220px;
        // position: absolute!important;
    }
}
.filter{
    @media screen and (max-width: 1300px) {
        position: absolute!important;
        top: 210px;
        flex-direction: row;
        z-index: 999999;
    }
    &__link-two{
        @media screen and (max-width: 1300px) {
            margin-top: 0!important;
            margin-left: 20px;
        }
    }
    .matching__different_link.matching__action_link,.matching__add_link.matching__action_link{
        @media screen and (max-width: 1300px) {
            font-size: 12px;
            line-height: 16px;
        }
    }
    
}
.filter__characteristics{
    // display: none!important;
    @media screen and (max-width: 1300px) {
        position: absolute!important;
        background-color: #FFFFFF;
        top: 190px;
        row-gap: 28px!important;
        margin-top: 0;
        // z-index: 9999999;
    }
    .matching__attribute{
        @media screen and (max-width: 1300px) {
            font-size: 12px!important;
            line-height: 16px!important;
        }
    }
}



.matching-btn{
    @media screen and (max-width: 1300px) {
        display: none;
    }
}

.matching-slider-wrapper{
    .matching__attributes{
        
        @media screen and (max-width: 1300px) {
            row-gap: 31px;
            padding-left: 0!important;
            border: none!important;
        }
    }
    
    .matching__attribute{
        &:not(:last-child){
            // margin-bottom: 30px;
        }
    }
}

.matching__header_sticky {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    padding: 15px 0;
    z-index: 5;
    transition: 0.5s;
}

.show-matching-sticky {
    top: 120px;
}

.show-matching-sticky .matching__product-remove-link,
.show-matching-sticky .matching__product-img {
    display: none;
}
.show-matching-sticky .matching__header {
    height: auto;
}
.matching__header_sticky-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}

.matching__header_link + .matching__header_link {
    margin-top: 10px;
}
.matching__action_link {
    font-size: var(--text-style-20-font-size);
}

.matching__attributes {
    display: grid;
    row-gap: 8px;
    margin-top: 40px;
}

.matching__attribute{
    @media screen and (max-width: 1300px) {
        font-size: 9px;
        line-height: 12px;
    }
}

.matching__titles .matching__attribute {
    font-weight: var(--font-medium);
}

.matching__products {
    width: 100%;
    max-width: 950px;
}

.matching__header {
    position: relative;
}

.matching__product-remove-link {
    position: absolute;
    top: 8px;
    right: 10px;
}

.matching__product-img {
    object-fit: cover;
    width: 100%;
    object-position: 80%;
    margin-bottom: 21px;

    @media screen and (max-width: 1300px) {
        width: 140px;
        height: 110px;
    }
}

.matching__product-link{
    @media screen and (max-width: 1300px) {
        font-size: 12px;
        line-height: 15px;
        max-width: 140px;
        width: 100%;
    }
}

.matching__product-title {
    font-size: var(--h4-font-size);
    font-weight: var(--font-bold);
}
.matching__product-price {
    margin-top: 5px;
}
.matching__product-price--current {
    font-family: var(--header-font);
    font-weight: var(--font-bold);
}

.matching__product-price--old {
    font-size: 10px;
    color: var(--grey-color);
    margin-left: 5px;
    text-decoration: line-through;
}

.matching__products .matching__attributes {
    border-left: 1px var(--grey-color) solid;
    padding-left: 10px;
}
.matching {
    &-slider {
        &-wrapper {
            position: relative;
        }
    }
    &-btn {
        top: 75px;
        z-index: 1;
        &-prev {
            left: -40px;
        }
        &-next {
            right: -40px;
        }
        &::after {
            display: none !important;
        }
    }
}
